.fill-button-large {
  width: 250px;
  font-family: "Raleway", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 0 24px;
  padding: 14px 0;
  background-color: #5ece7b;
  color: #fff;
  border: 2px solid #5ece7b;
  outline: none;
  transition: 0.5s ease-in-out;
}

.fill-button-small {
  width: 113px;
  font-family: "Raleway", "Roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 14px 0;
  background-color: #5ece7b;
  color: #fff;
  border: 2px solid #5ece7b;
  outline: none;
  transition: 0.5s ease-in-out;
}

.fill-button-large:hover,
.fill-button-small:hover {
  background-color: #fff;
  color: #5ece7b;
  cursor: pointer;
}
