.swatch-large {
  position: relative;
  font-size: 16px;
  margin: 0 10px 0 0;
  padding: 8px 16px;
}

.swatch-small {
  position: relative;
  font-size: 9px;
  margin: 0 8px 0 0;
  padding: 8px 8px;
}

.swatch-large:hover,
.swatch-small:hover {
  cursor: pointer;
}

.swatch-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  visibility: hidden;
}

.swatch-overlay-visible {
  visibility: visible;
}
