.swatch-large {
  position: relative;
  height: 45px;
  width: 45px;
  padding: 2px;
  border: 3px solid #fff;
  background: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 6px 12px 6px 0;
}

.swatch-small {
  position: relative;
  height: 30px;
  width: 30px;
  padding: 2px;
  border: 2px solid #fff;
  background: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 4px 8px 4px 0;
}

.swatch-selected {
  border-color: #5ece7b;
}

.swatch-large:hover,
.swatch-small:hover {
  cursor: pointer;
  border-color: #5ece7b;
}
