.small-image-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.small-image-container:hover {
  cursor: pointer;
}

.small-image {
  height: 100%;
  width: 100%;
}

.small-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.small-image-overlay:hover {
  background: rgba(0, 0, 0, 0.05);
}

.small-image-overlay-selected {
  background: rgba(0, 0, 0, 0.05);
}
