.category-page {
  position: relative;
  height: 1300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0; /* add LR padding of 50px later */
  /* border: 1px solid #000; */
}

.category-page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.category-page-overlay-hidden {
  display: none;
}

.category-page-title {
  height: 5%;
  width: 100%;
  text-align: left;
}

.category-page-main {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
