.cart-page {
  position: relative;
  min-height: 695px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
  padding: 0 50px;
}

.cart-page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 50;
}

.cart-page-overlay-hidden {
  visibility: hidden;
}

.cart-page-title {
  height: 125px;
  width: 100%;
  font-size: 35px;
  text-align: left;
  padding: 40px 0 50px 0;
  border-bottom: 1px solid #ccc;
}

.cart-page-main {
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cart-page-section {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 24px 0;
}

.cart-page-summary {
  height: 20px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin: 12px 0;
}

.cart-page-summary-text-one {
  height: 100%;
  width: 100px;
  text-align: left;
}

.cart-page-summary-text-two {
  height: 100%;
  width: 50px;
  text-align: right;
}

.cart-page-summary-text-three {
  height: 100%;
  width: 150px;
  text-align: right;
}

.cart-page-summary-extra {
  font-size: 20px;
}

.cart-page-button-container {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 24px 0;
}
