.outline-button-large {
  width: 200px;
  background-color: #fff;
  color: #000;
  margin: 0 0 0 24px;
  padding: 14px 0;
  border: 2px solid #000;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

.outline-button-small {
  width: 100px;
  background-color: #fff;
  color: #000;
  margin: 0 0 0 24px;
  padding: 14px 0;
  border: 2px solid #000;
  outline: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

.outline-button-large:hover,
.outline-button-small:hover {
  background-color: #000;
  color: #fff;
}
