.attribute-large {
  height: 45px;
  width: 60px;
  font-size: 15px;
  margin: 0 12px 0 0;
  padding: 0;
  border: 1.5px solid #000;
  outline: none;
  background-color: #fff;
  color: #000;
}

.attribute-large-selected {
  height: 45px;
  width: 60px;
  font-size: 15px;
  margin: 0 12px 0 0;
  padding: 0;
  border: 1.5px solid #000;
  outline: none;
  background-color: #000;
  color: #fff;
}

.attribute-small {
  height: 30px;
  width: 40px;
  font-size: 10px;
  margin: 0 8px 0 0;
  padding: 0;
  border: 1px solid #000;
  outline: none;
  background-color: #fff;
  color: #000;
}

.attribute-small-selected {
  height: 30px;
  width: 40px;
  font-size: 10px;
  margin: 0 8px 0 0;
  padding: 0;
  border: 1px solid #000;
  outline: none;
  background-color: #000;
  color: #fff;
}

.attribute-large:hover,
.attribute-small:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.attribute-large-selected:hover,
.attribute-small-selected:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
