.attribute-large {
  height: 40px;
  width: 45px;
  font-size: 12px;
  font-weight: bold;
  margin: 6px 12px 6px 0;
  padding: 2px;
  border: 1px solid #000;
  outline: none;
  background: #fff;
  color: #000;
}

.attribute-small {
  height: 30px;
  width: 35px;
  font-size: 10px;
  font-weight: bold;
  margin: 4px 8px 4px 0;
  padding: 2px;
  border: 1px solid #000;
  outline: none;
  background: #fff;
  color: #000;
}

.attribute-selected {
  background: #000;
  color: #fff;
}

.attribute-large:hover,
.attribute-small:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
}

.attribute-selected:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}
