.mini-cart {
  position: absolute;
  top: 60px;
  right: 60px;
  height: 400px;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 8px;
  background: #fff;
  z-index: 100;
}

.mini-cart-hidden {
  display: none;
}

.mini-cart-title {
  height: 7.5%;
  width: 100%;
  text-align: left;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.mini-cart-title-bold {
  font-weight: bold;
}

.mini-cart-items-container {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  border: 1px solid #000;
}

.mini-cart-total-price {
  height: 7.5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.mini-cart-buttons {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
