.mini-cart {
  position: fixed;
  top: 60px;
  right: 50px;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  background: #fff;
  z-index: 99;
}

.mini-cart-hidden {
  display: none;
}

.mini-cart-title {
  height: 7%;
  width: 100%;
  text-align: left;
  font-weight: normal;
  margin-bottom: 12px;
  border-bottom: 1px solid #ccc;
}

.mini-cart-title-span {
  font-weight: bold;
}

.mini-cart-items-container {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.mini-cart-total-price {
  height: 7%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}

.mini-cart-buttons {
  height: 14%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
