.product-page {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-page-small-images-container {
}

.product-page-small-images {
}

.product-page-large-images {
}

.product-page-details {
}

.product-page-title {
}

.product-page-brand {
}

.product-page-size {
}

.product-page-price {
}

.product-page-description {
}
