.attributes-large {
  margin: 0 10px 0 0;
  padding: 8px 16px;
  font-size: 16px;
  outline: none;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}

.attributes-large-active {
  margin: 0 10px 0 0;
  padding: 8px 16px;
  font-size: 16px;
  outline: none;
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
}

.attributes-small {
  margin: 0 8px 0 0;
  padding: 8px 8px;
  font-size: 9px;
  outline: none;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}

.attributes-small-active {
  margin: 0 8px 0 0;
  padding: 8px 8px;
  font-size: 9px;
  outline: none;
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
}

.attributes-large:hover,
.attributes-small:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
}

.attributes-large-active:hover,
.attributes-small-active:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
}
